services:
  server:
    build:
      context: ./server
      dockerfile: ../docker/express/Dockerfile
    image: ${DOCKER_USER}/${IMAGE_NAME}:${TAG_NAME}
    container_name: mern-ecommerce-backend
    ports:
      - "127.0.0.1:8000:8000" #ip is included to make port accessible from host only
    volumes:
      - ./server:/server
      - /server/node_modules
    env_file:
      - ./server/.env
    environment:
      - NODE_ENV=production
      - PORT=8000

networks:
  mern-ecommerce:
    driver: bridge
