services:
  server:
    build:
      context: ./server
      dockerfile: ../docker/express/Dockerfile
    container_name: mern-ecommerce-backend
    expose:
      - 8000
    volumes:
      - ./server:/server
      - /server/node_modules
    env_file:
      - ./server/.env
    environment:
      - NODE_ENV=development
      - PORT=8000

  frontend:
    build:
      context: ./client
      dockerfile: ../docker/react/Dockerfile

    container_name: mern-ecommerce-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./client:/client
      - /client/node_modules
    env_file:
      - ./client/.env
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - server

    networks:
      - mern-ecommerce

networks:
  mern-ecommerce:
    driver: bridge
